name: clipfile
description: "A new Flutter project."
publish_to: "none"
version: 2.0.0

environment:
  sdk: ^3.6.1

dependencies:
  appwrite: ^20.3.2
  file_picker: ^10.3.7
  flutter:
    sdk: flutter
  flutter_exit_app: ^2.0.0
  flutter_launcher_icons: ^0.14.3
  flutter_native_splash: ^2.4.4
  google_fonts: ^6.2.1
  hive_flutter: ^1.1.0
  image_picker: ^1.1.2
  internet_connection_checker_plus: ^2.7.0
  liquid_pull_refresh: ^1.0.6
  liquid_pull_to_refresh: ^3.0.1
  msix: ^3.16.8
  provider: ^6.1.2
  quick_actions: ^1.1.0
  restart_app: ^1.3.2
  shorebird_code_push: ^2.0.3
  smooth_page_indicator: ^1.2.0+3
  super_clipboard: ^0.9.1
  super_drag_and_drop: ^0.9.1
  window_manager: ^0.5.1
  universal_io: ^2.3.1
  flutter_blue_plus: ^2.0.2
  permission_handler: ^12.0.1
  device_info_plus: ^11.5.0
  shelf: ^1.4.2
  shelf_router: ^1.1.4
  dio: ^5.9.0
  uuid: ^4.5.2
  path_provider: ^2.1.5
  open_filex: ^4.5.1
  flutter_ble_peripheral: ^2.0.1

dependency_overrides:
  flutter_web_auth_2: ^4.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - shorebird.yaml

msix_config:
  display_name: "ClipFile"
  logo_path: "windows/runner/resources/app_icon.ico"
  signtool_options: "/fd sha256 /td sha256"
  custom_actions:
    - name: "ClipFile"

flutter_native_splash:
  android: true
  ios: true
  web: false

  color: "#a1a9ac"
  image: "assets/logo.png"

  android_12:
    color: "#a1a9ac"
    image: "assets/logo.png"

flutter_launcher_icons:
  android: false
  ios: false
  #remove_alpha_ios: true
  image_path: "assets/icon_2880.png"
  #min_sdk_android: 21 # android min sdk min:16, default 21
  #adaptive_icon_foreground: "assets/foreground.png"
  #adaptive_icon_background: "#ffffff"
  #web:
  #  generate: true
  # image_path: "assets/icon_2880.png"
  #  background_color: "#979fa2"
  #  theme_color: "#979fa2"
  windows:
    generate: true
    image_path: "assets/icon_2880.png"
    icon_size: 256 # min:48, max:256, default: 48
